<div class="footer py-5 py-sm-0">
     <a href="mailto:contact@abnrecrutement.fr"> Nous contacter</a>
     | <%= link_to 'Espace administrateur', new_user_session_path %>
     | <%= link_to 'Politique de gestion des cookies', cookies_path %>
</div>
