<div class="banner_missions" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg);">
  <div class="container center">
    <h1>Qui sommes nous?</h1>
  </div>
</div>

<div class = "container">
    <p class="subtitle_blue mt-5">Nos valeurs</p>
    <div class= "container">
      <h2 class="citation">"Bien plus qu'une agence d'intérim, nous sommes votre partenaire au quotidien." </h2>
    </div>
    <div class="cards_about p-3 mt-4" style="min-height : 65vh">
        <div class="card-category_about">
          <h4 class="text_blue">Expertise</h4>
            <p><strong>Equipe experte</strong> du travail temporaire et de sa législation</p>
            <p>Process de recrutement sélectif</p>
            <p><strong>Entretien physique</strong> ou visio</p>
            <p><strong>Prises de références</strong> systématiques</p>
        </div>

        <div class="card-category_about">
          <h4 class="text_blue">Proximité</h4>
            <p><strong>Disponibles 7j/7</strong> de 08h00 à 20h00</p>
            <p>Interlocuteur <strong>privilégié</strong></p>
            <p><strong>Déplacements réguliers</strong> sur les lieux de mission</p>
            <p>Entretiens mensuels avec nos intérimaires</p>
        </div>

        <div class="card-category_about">
          <h4 class="text_blue">Fiabilité</h4>
            <p><strong>Espace personnel</strong> pour chacun de nos clients et salariés</p>
            <p><strong>Dématérialisation</strong> des documents administratifs (contrats, factures, ...)</p>
            <p><strong>Fiabilité irréprochable</strong> des documents transmis</p>
        </div>
    </div>
</div>

<div class = "container">
  <p class="subtitle_blue mt-5">Nos secteurs d'activité</p>
    <h2 class="citation">Notre agence vous propose des profils qualifiés et engagés qui correspondent aux besoins et aux valeurs de votre entreprise.</h2>
    <div class="cards_fields p-3 mt-4" style="min-height : 65vh">
      <div class="card-category_fields">
        <h4 class="text_blue">Logistique</h4>
        <div class="display">
          <div style="margin-left:15px;">
            <p>
              ⌑ Caristes <br />
              ⌑ Préparation de commande <br />
              ⌑ Responsable d'exploitation <br />
              ⌑ Manutention <br />
              ⌑ Déménagements <br />
              ⌑ Opérateurs de saisie <br />
              ⌑ Responsable de quai <br />
              ⌑ Agent de quai <br />
              ⌑ Agent d'exploitation <br />
              ⌑ Chauffeur VL (livreurs, facteurs ) <br />
              ⌑ Chauffeur poids lourd, super poids lourd <br />
              ⌑ Réseau régional et national <br />
            </p>
            </div>
        </div>
      </div>

      <div class="card-category_fields">
        <h4 class="text_blue">Tertiaire</h4>
        <div class="display">
          <div style="margin-left:15px;">
            <p>
              ⌑ Assistanat <br />
              ⌑ Paye <br />
              ⌑ Comptabilité <br />
              ⌑ Service client <br />
              ⌑ Coiffure <br />
              ⌑ Vente <br />
            </p>
            </div>
        </div>
      </div>
    </div>

    <div class="text-center my-5">
      <h4 class="subtitle_blue">Pour plus d'information n'hésitez pas à nous contacter.</h4>
      <%= link_to "Nous contacter", contact_path, class:"btn btn-home mt-3" %>
    </div>
</div>

<style>

.citation{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-style: italic;
}

.subtitle_blue{
    font-size: 25px;
    text-align: center;
    color: #3478F5;
    font-weight: bold;
    margin: 15px 0px 20px 0px;
}

/* FIELDS */
.cards_fields {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 40px;
  a {
    text-decoration: none;
  }
}

.card-category_fields {
  background-color:white;
  margin-bottom: 40px;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
  line-height: 1.5;
  justify-content: space-between;
  padding: 20px;
}
.display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-category_fields img {
  max-width: 300px;
}

@media (max-width: 750px) {
  .cards_fields {
    grid-template-columns: 1fr;
  }

}

/* ABOUT */
.text_blue{
    text-align: center;
    color: #3478F5;
    font-style: bold;
    margin: 25px;
    font-size: 25px;
}

.cards_about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  a {
    text-decoration: none;
  }
}

.card-category_about {
  margin-bottom: 40px;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
  background-color:white;
  line-height: 1.5;
  justify-content: space-between;
  padding: 40px;
  text-align: left;
}

@media (max-width: 576px) {
  .cards_about {
    grid-template-columns: 1fr;
  }

}
</style>
