<div class="banner_missions" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg);">
  <div class="container center">
    <h1>Contact</h1>
  </div>
</div>

<div class="container" style="margin-top:50px;">
  <div class="contact_form">
    <div class="contact_form_infos">
      <h4>Nous contacter</h4>
      &nbsp
      <a href="mailto:contact@abnrecrutement.fr">contact@abn.recrutement.fr</a>
      <p>01 40 76 57 91</p>
      &nbsp
      <p>1 Rue de Stockholm</p>
      <p>75008 Paris </p>
    </div>
  </div>
</div>
