<div class="banner_missions" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg);">
  <div class="container center">
    <h1>Politique de gestion des cookies</h1>
  </div>
</div>

<div class="container text-center">
  <h2 class="subtitle_blue_cookies mt-5 mb-3">Cookies tiers</h2>
  <p>
    Ce site n'utilise aucun cookie de traçage, pistage ou ciblage.
  </p>
  <h2 class="subtitle_blue_cookies mt-5 mb-3">Cookies essentiels</h2>
  <div class="d-flex">
    <p class="w-25"></p>
    <p class="w-50">
      Seul le système de gestion des comptes personnels (inscription, connection, etc.)
      utilise les cookies lorsque vous vous connectez à votre compte.
      Il n'y a que des cookies essentiels au bon fonctionnement du site.
    </p>
    <p class="w-25"></p>
  </div>
</div>

<style>
  .subtitle_blue_cookies{
    font-size: 25px;
    color: #3478F5;
    font-weight: bold;
    margin: 15px 0px 20px 0px;
}
</style>
