<div class="banner_missions" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg);">
  <div class="container center">
    <h1>Nos secteurs d'activité</h1>
  </div>
</div>

<div class = "container">
    <div class="cards_fields p-3 mt-4" style="min-height : 65vh">
      <div class="card-category_fields">
        <h4 class="subtitle_blue">Logistique</h4>
        <div class="display">
          <div>
            <img src="https://images.pexels.com/photos/1267338/pexels-photo-1267338.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Logistique">
          </div>
          <div style="margin-left:15px;">
            <p>Préparation de commande <br />
              Manutention <br />
              Responsable de quai <br />
              Agent de quai <br />
              Cariste</p>
            </div>
        </div>
      </div>

      <div class="card-category_fields">
        <h4 class="subtitle_blue">Transport</h4>
        <div class="display">
          <div>
            <img src="https://images.pexels.com/photos/1267338/pexels-photo-1267338.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Logistique">
          </div>
          <div style="margin-left:15px;">
            <p>Chauffeur VL <br />
              Chauffeur PL <br />
              Chauffeur livreur <br />
              Ambulancier <br />
              Facteur</p>
            </div>
        </div>
      </div>

      <div class="card-category_fields">
        <h4 class="subtitle_blue">Comptabilité</h4>
        <div class="display">
          <div>
            <img src="https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Comptabilité">
          </div>
          <div style="margin-left:15px;">
            <p>Aide comptable <br />
              Comptable général <br />
              Comptable clients <br />
              Comptable fournisseurs <br />
              Responsable comptable</p>
            </div>
        </div>
      </div>

      <div class="card-category_fields">
        <h4 class="subtitle_blue">Paye & RH</h4>
        <div class="display">
          <div>
            <img src="https://images.pexels.com/photos/1267338/pexels-photo-1267338.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Logistique">
          </div>
          <div style="margin-left:15px;">
            <p>Gestionnaire de paye <br />
                Administration du personnel <br />
                Responsable paye <br />
                Assistant RH <br />
                RRH</p>
            </div>
        </div>
      </div>

      <div class="card-category_fields">
        <h4 class="subtitle_blue">Tertiaire</h4>
        <div class="display">
          <div>
            <img src="https://images.pexels.com/photos/1267338/pexels-photo-1267338.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Logistique">
          </div>
          <div style="margin-left:15px;">
            <p>Opérateur de saisie <br />
                Assistant administratif <br />
                Assistant de direction</p>
            </div>
        </div>
      </div>

      <div class="card-category_fields">
        <h4 class="subtitle_blue">GSA & GSS</h4>
        <div class="display">
          <div>
            <img src="https://images.pexels.com/photos/1267338/pexels-photo-1267338.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Logistique">
          </div>
          <div style="margin-left:15px;">
            <p>Conseiller de vente <br />
                Mise en rayon <br />
                Responsable de rayon</p>
            </div>
        </div>
      </div>

    </div>
</div>

<style>

.citation{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-style: italic;
}

.subtitle_blue{
    font-size: 22px;
    text-align: center;
    color: #3478F5;
    font-weight: bold;
}

.subtitle_blue{
    text-align: center;
    color: #3478F5;
    font-style: italic;
    font-size: 20px;
    margin: 15px 0px 20px 0px;
}

.cards_fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  a {
    text-decoration: none;
  }
}

.card-category_fields {
  margin-bottom: 40px;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
  line-height: 1.5;
  justify-content: space-between;
  padding: 20px;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-category_fields img {
  max-width: 250px;
}

@media (max-width: 750px) {
  .cards_fields {
    grid-template-columns: 1fr;
  }

}
</style>
