<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg);">
  <div class="container center">
    <h1>Votre partenaire en intérim, CDD et CDI</h1>
    <%= link_to "Découvrez nos offres", missions_path, class:"btn btn-home" %>
  </div>
</div>


<div class="cards-home">
  <div class="card-category-home" style="background-position: top; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1367269/pexels-photo-1367269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
    <a href="https://abnrecrutement.bestt.fr/login">
      <div class="card-category-text">
        <h4>Espace salarié</h4>
        <p>Connectez-vous à votre espace personnel pour valider vos heures et accéder à vos documents.</p>
      </div>
    </a>
  </div>

  <div class="card-category-home" style="background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://marketplace.canva.com/MADGxppgz8I/4/screen_2x/canva-fish-eye-view-photo-of-glass-high-story-building-over-white-cloudy-sky-during-daytime-MADGxppgz8I.jpg)">
    <a href="https://abnrecrutement.bestt.fr/login">
      <div class="card-category-text">
        <h4>Espace entreprise</h4>
        <p>Recrutez vos futurs salariés intérimaires ou permanents parmi les profils que nous aurons sélectionné.</p>
      </div>
    </a>
  </div>
</div>

<div class="container" style="margin-top:70px;">
  <h3 style="text-align:center;font-weight: bold;">Nos secteurs d'activités</h3>
    <ul class="brands">
      <li class="brands__item">
        <i class="fas fa-coins" style="color:#3478F5"></i>
        <p>Finance & RH</p>
      </li>
      <li class="brands__item">
          <i class="fas fa-address-book" style="color:#3478F5"></i>
          <p>Assistanat & Secrétariat</p>
      </li>
      <li class="brands__item">
          <i class="fas fa-user-tie" style="color:#3478F5"></i>
          <p>Vente en magasin</p>
      </li>
      <li class="brands__item">
        <i class="fas fa-warehouse" style="color:#3478F5"></i>
        <p>Logistique & Manutention</p>
      </li>
</div>

<div class="container" style="margin-top:50px;">
  <div class="contact_form">
    <div class="contact_form_infos">
      <h4>Nous contacter</h4>
      &nbsp
      <a href="mailto:contact@abnrecrutement.fr">contact@abn.recrutement.fr</a>
      <p>01.44.70.72.00</p>
      &nbsp
      <p>1 Rue de Stockholm</p>
      <p>75008 Paris </p>
    </div>
  </div>

</div>
