.contact_form{
  margin: 60px;
  background-color: #eee;
  height:300px;
  display:flex;
  justify-content: space-between;
}

.contact_form_infos{
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  font-size:16px;
  margin: 0 30px;
  width: 480px;
    h4 {
      font-size: 22px !important;
      font-weight: bold;}
      p{
        margin-bottom:0;
      }
      a{
        text-decoration:none;
        color:#1e2c34;
      }
      a:hover{
        opacity:0.8;
      }
}
