<div class="container">
  <div class= "sign-form p-4">
    <h2 style="margin:20px;font-size:30px;">Créer une fiche de poste</h2>
    <%= render 'form', mission: @mission, action: 'new' %>
    <%= link_to "Retour", missions_path %>
  </div>
</div>

<style>
.rich_text_area{
  min-height: 20em !important;}
</style>

