<% unless cookies && cookies['cookie_eu_consented'] == 'true' %>
  <div class="cookies-eu js-cookies-eu text-white bg-dark p-2">
    <span class="cookies-eu-content-holder" style="font-size: 1.10em;">
      Les cookies assurent le bon fonctionnement de nos services. En utilisant ces derniers, vous acceptez l'utilisation des cookies.
    </span>
    <span class="cookies-eu-button-holder">
      <button class="cookies-eu-ok js-cookies-eu-ok btn btn-primary">OK</button>
      <% if defined?(link).present? %>
        <a href="<%= link %>" class="cookies-eu-link text-white" target="<%= defined?(target).present? ? target : '' %>">En savoir plus</a>
      <% end %>
    </span>
  </div>
<% end %>
